work/
alib-*/
command.log
default.svf
*.log
synth_mat_1p2.tcl
filenames.log
work_l*/
DONE_LANES_PPA
*.svf
work_dma_w*/
work_npu_top/
work_enum/
work_fixchk/
dc_overnight_*.log
DONE_*
sram_macros/*_130a/
sram_macros/*.cfg
sram_macros/gen_*.log
sram_macros/t.txt
sram_macros/config*.txt
sram_macros/db/
sram_db/
